/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding does not affect width */
}

/* Global Container */
.test-container2 {
  /* background-color: aquamarine; */
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  width: 100%; /* Ensure container takes full width */
  min-height: 100%; /* Makes sure it covers the full viewport height */
  padding: 3rem 5rem 3rem 5rem; 
}

/* Section Titles */
.test-section h2,
.eligibility-section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #222;
}

/* Test Box */
.test-box {
  background: #f8fbff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Test Item */
.test-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
}

/* Icon Styles */
.icon {
  font-size: 24px;
  color: #009cde;
}

/* Text Styles */
.test-item h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.test-item p {
  font-size: 14px;
  color: #555;
  margin: 5px 0 0;
}

/* Horizontal Line */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 5px 0;
}


.scholarship-banner p{
  font-size: 1.2rem;
  text-align: center;
  background-color: #007bff;
  padding: 20px 20px;
}

